body{
	background-color: #08090B;
	font-family: sans-serif;
	color:#ffae00;
	width: 100%;
    padding: 5px;
    height: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  div.header>{
	display: block;
	 position:absolute;
	 width: 100%;
  }

  div.footer{
	position:absolute;
	width:100%;
	display: block;
	bottom:0;
	text-align: center;
}

div.header>header{
	text-align: center;
}